@import "reset";
@import "animations";
@import "navbar";

// Mixins
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin animation-delay($delay) {
	animation-delay: $delay;
	filter: blur(15px);
	transform: translateY(300vh);
}

// Header
.header {
	background: linear-gradient(to bottom, $secondary-color, $primary-color);
	height: 90vh;
	position: relative;
	overflow: hidden;
	border-radius: 30px;
}
.header-content {
	position: relative;
	width: 100%;
	height: 100%;
	@include flex-center;
}
.header-back-text {
	position: absolute;
	font-size: 50vw;
	font-weight: 900;
	font-family: "MeowScript";
	color: $secondary-color;
	filter: blur(0px);
	top: 15%;
	left: 50%;
	transform: translateX(-50%);

	@media screen and (min-width: 768px) {
		top: unset;
	}
}
.header-title {
	position: absolute;
	top: 20px;
	color: $primary-color;
	font-size: 25vw;
	text-align: center;
	line-height: 0.8;

	:last-child {
		@include animation-delay(0.2s);
	}
	@media screen and (min-width: 768px) {
		font-size: 15vw;
	}
}
.header-image {
	position: absolute;
	bottom: 0px;
	height: 70%;
	max-width: 100%;
	object-fit: cover;

	@include animation-delay(0.6s);

	@media screen and (min-width: 768px) {
		height: 90%;
	}
}
.cta-section {
	display: flex;
	flex-direction: column;
	gap: 5px;
	position: absolute;
	width: 100%;
	max-width: 600px;
	padding: 1rem;
	bottom: 60px;

	.btn {
		@include animation-delay(0.9s);
	}
	.ghost-btn {
		@include animation-delay(1.1s);
	}

	@media screen and (min-width: 768px) {
		@include flex-center;
		flex-direction: row;
		top: unset;
	}
}

.section-title {
	color: $primary-color;
	text-transform: uppercase;
	font-size: 2.5rem;
	margin-top: 2rem;

	&::after {
		content: url(../assets/styled-underline.png);
		display: block;
	}
}

// Servicios
.services-container {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	gap: 25px;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	.service {
		width: 100%;
		max-width: 320px;
		border-radius: $border-radius-general;
		box-shadow: 0 3px 15px rgba($primary-color, 0.2);
		text-align: left;
		.service-img {
			width: 100%;
		}
		&:hover {
			transform: scale(1.03);
			box-shadow: 0 5px 25px rgba($primary-color, 0.35);

			h3 {
				color: $secondary-color;
			}
			.service-img {
				scale: 1.5;
			}
		}

		h3 {
			font-size: 1.5rem;
			color: $primary-color;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			text-align: center;
		}

		ul {
			color: $text-color;
			line-height: 1.8;

			li:before {
				content: "✦";
				margin-right: 5px;
				font-size: 0.9rem;
			}
		}
	}
}

// Team
.team {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.team-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	gap: 25px;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}

	.team-member {
		width: 150px;
		cursor: pointer;

		&:hover {
			transform: scale(1.03);

			.team-picture {
				box-shadow: 0 4px 20px rgba($primary-color, 0.3);
			}
		}

		&:active {
			scale: 0.9;
		}

		@media screen and (min-width: 768px) {
			width: 200px;
		}

		.team-picture {
			width: 100%;
			aspect-ratio: 1;
			object-fit: cover;
			border-radius: 100vh;
		}
	}
}

.why-us-container {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 30px;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.reason {
	text-align: left;
	color: $text-color;
	display: flex;
	flex-direction: column;
	justify-content: center;
	.reason-icon {
		width: 50px;
	}

	h3 {
		font-size: 1.4rem;
		color: $primary-color;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	p {
		font-size: 0.95rem;
		color: $text-color;
		line-height: 1.6;
	}

	@media screen and (min-width: 768px) {
		max-width: 320px;
	}
}

// Reviews
.reviews {
	width: 100%;
	overflow: hidden;
}

.carousel-container {
	position: relative;
	width: 100%;
	display: flex;
	transition: transform 0.5s ease-in-out;
}

.carousel-item {
	position: relative;
	min-width: 100%;
}

.carousel-image {
	width: 100%;
	max-width: 400px;
	border-radius: $border-radius-general;
}

.review {
	position: absolute;
	bottom: 10%;
	right: 50%;
	transform: translateX(50%) rotate(5deg);
	background: white;
	padding: 10px;
	border-radius: $border-radius-general;
	width: 100%;
	max-width: 250px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-name {
	font-size: 1.1rem;
	font-weight: bold;
	margin-bottom: 5px;
	color: $text-color;
}

.review-text {
	font-size: 0.9rem;
	color: $text-color;
}

// Footer
.footer {
	background: $primary-color;
	color: white;
	padding: 20px;
	text-align: center;
	padding-block: 20vh;

	.social-media {
		margin-top: 10px;
		a {
			margin: 0 10px;

			.social-link {
				width: 35px;
			}
		}
	}
}
